body {
  font-family: Arial, helvetica, sans-serif;
}

.active { color: red; font-weight: bold; }

.flex-h {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

.people {
  width: 30%;
  ul {
    list-style: none;
    padding: 0.1em 0;
  }
}

.nav {
  margin-top: 1em;
  float:left;
  .sidebar{
    background-color: #333;
    text-decoration: none;
    color: #CCC;
  }
  ul {
    list-style: none;
    padding: 0.1em 0;
    li{
      text-align:center;
    }
  }
  
  a {
    padding: 0.1em 1em;
    
    &.active {
      color: #DDD;
      background-color: #555;
      font-weight: normal;
    }
  }
}

body.debug-sref {
  [ui-sref]:after {
    content: ' ui-sref="' attr(ui-sref) '"';
    font-family: monospace;
  }
  
  [ui-sref] {
    padding: 0 0.25em;
  }
}

.nav.nav-sidebar {
  background-color: darken(darkgray, 25%);
}

body.debug-view {
  ui-view {
    padding: 0 1em 1em 1em;
    display: block;
    border: 5px solid darkgrey;
    ui-view {
      margin: 1em;
    }
    
    &:before {
      content: "<ui-view>";
      display: block;
      width: 100%;
      font-size: 1em;
      font-weight: bold;
      text-align: center;
      background-color: darkgrey;
      margin: 0 -1em;
      padding: 0 1em;
    }
      
    &:empty:after {
      display: block;
      width: 100%;
      text-align: center;
      content: "No view is loaded into this ui-view";
    }
  }
}
